
.fullscreen{
  position:fixed;
  display:inline-block;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(20,20,20,.9);
  z-index:9999;
  margin:0px;
  transition:transition 2s;
}

.fullscreen>div{
  max-width: 25em !important;
}

.fsView{
  max-width:30vw;
  margin:2em;
}

.cardpack{
}
