
#cards{
    width:100vw;
}




/* Flip card styling
https://www.w3schools.com/howto/howto_css_flip_card.asp

The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
/*.card {
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect
}*/

/* This container is needed to position the front and back side */
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}









.card{
  width:25%;
  display:inline-block;
  text-align:left;
  border:0px;
  margin:2em 2% 2em 2%;
  padding:0em 1em 1em 1em;
  vertical-align:top;
}
@media only screen and (max-width: 1024px){
  .card{
    width:88%;
  }

}


.card>h3{
  text-align:center;
  font-size:.8em;
  margin-block-end:1em;
  margin-block-start:.1em;
}

.card>h2 , .card-header>h3{
  margin-block-end:.1em;
  margin-block-start:.1em;
}

.card>p{
  margin:.5em 20% .5em 20%;
  text-align:center;
  width:82%;
  display: inline-flex;
}

.card-type{
  width:100%;
  text-align:center;
  margin-top:.2em;
  margin-bottom:.2em;
  height:1em;
}
.card-header{
  width:100vw;
  margin:0em 0px .2em 0px;
  padding:1.5em 2% 1.5em 2%;

  border-bottom:2px white solid;
  /*border-top-left-radius:10px;
  border-top-right-radius:10px;*/
  box-shadow: 0px 0px 2px rgba(0,0,0,0.25);
  text-align:left;
  vertical-align:top;
  display:inline-block;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#164e6e+0,2d9cdb+100 */
  background: #3cb4f0; /* Old browsers */
  background: -moz-linear-gradient(left,  #3cb4f0 0%, #2d9cdb 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #3cb4f0 0%,#2d9cdb 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #3cb4f0 0%,#2d9cdb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3cb4f0', endColorstr='#2d9cdb',GradientType=1 ); /* IE6-9 */

}

.card-header-img{
  height:3.5em;
  display:inline-block;

}

.card-title-group{
  width:85%;
  vertical-align:top;
  display:inline-block;

}

.card-title{
  font-size:1.3em;
  width:80%;
}

.card-subtitle{

}

.media{
  width:95%;
  border:solid 1pt black;
  text-align:center;
  margin:2%;
  max-height:20em;

}
 .media>img{
  height:100%;
  max-width:100%;
  max-height:20em;
}



.badge{
    width:38%;
    max-width:25em;
    display:inline-block;
    text-align:left;
    border:0px;
    margin:2em 1% 2em 1%;
    padding:1em 1% 1em 1%;
    vertical-align:top;
}


.card-footer{
  width:96%;
  margin-left:2%;
  margin-right:2%;
  text-align:left;
  vertical-align:bottom;
  display:inline-flex;
  align-items:baseline;
}

.card-footer-left{
  text-align:left;
  width:49%;
  vertical-align:bottom;
}

.card-footer-left>.playerWidget{
}

.card-footer-right>button, .card-footer-left>button{
  height:3em;
}

.card-footer-right>button>img, .card-footer-left>button>img{
  height:100%;
}

.card-footer-right{
  width:50%;
  display:inline;
  text-align:right;
  vertical-align:bottom;
}
