
.mini-deck{
  border:2px white solid;
  border-radius:.2em;
  box-shadow: 1px -1px 1px white,
   2px -2px 1px white,
   3px -3px 1px gray,
   4px -4px 1px white,
   5px -5px 1px white;
   font-size:.7em;
   font-weight:bolder;
   width:1.6em;
   height:2em;
   text-align:center;
   padding-left:0px;
   padding-right:0px;
}


.deck2{
  box-shadow: 1px -1px 1px white,
    2px -2px 1px white,
    3px -3px 1px gray,
    4px -4px 1px white,
    5px -5px 1px white;
}


.deck3{
  box-shadow:
  1px -1px 1px white,
    2px -2px 1px white,
    3px -3px 1px gray,
    4px -4px 1px white,
    5px -5px 1px white,
    6px -6px 1px gray,
    7px -7px 1px white,
    8px -8px 1px white;
}

.deck6{
  box-shadow: 1px -1px 1px white,
    2px -2px 1px white,
    3px -3px 1px gray,
    4px -4px 1px white,
    5px -5px 1px white,
    6px -6px 1px gray,
    7px -7px 1px white,
    8px -8px 1px white,
    9px -9px 1px gray,
    10px -10px 1px white,
    11px -11px 1px white;
}

.deck12{
  box-shadow: 1px -1px 1px white,
    2px -2px 1px white,
    3px -3px 1px gray,
    4px -4px 1px white,
    5px -5px 1px white,
    6px -6px 1px gray,
    7px -7px 1px white,
    8px -8px 1px white,
    9px -9px 1px gray,
    10px -10px 1px white,
    11px -11px 1px white,
    12px -12px 1px gray,
    13px -13px 1px white,
    14px -14px 1px white;
}

.deck25, .deck50{
  box-shadow: 1px -1px 1px white,
    2px -2px 1px white,
    3px -3px 1px gray,
    4px -4px 1px white,
    5px -5px 1px white,
    6px -6px 1px gray,
    7px -7px 1px white,
    8px -8px 1px white,
    9px -9px 1px gray,
    10px -10px 1px white,
    11px -11px 1px white,
    12px -12px 1px gray,
    13px -13px 1px white,
    14px -14px 1px white,
    15px -15px 1px gray,
    16px -16px 1px white,
    16px -16px 1px white;
}

.deckSwitcher{

}






/* Flip card styling
https://www.w3schools.com/howto/howto_css_flip_card.asp

The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.card {
  perspective: 1000px; /* Remove this if you don't want the 3D effect*/
}

/* This container is needed to position the front and back side */
.card-inner {
  height:32em;
  width: 100%;
  text-align: center;
  transition: transform .8s;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg) !important;
}

.flipped > .flip-card-front > div > button {
  display:none;
  transition: display 0.8s;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}





.fullscreen{
  position:fixed;
  display:inline-block;
  top:0px;
  left:0px;
  width:100vw !important;
  max-width:100vw !important;
  height:100vh;
  background:rgba(255,255,255,.2);
  z-index:9999;
  margin:0px;
  transition:transition 2s;
}

.fullscreen>h2{
  max-width: 20em !important;
  position:fixed;
  left:0px;
  margin-left:0%;
}

.fullscreen>.card{
  max-width:30vw;
  margin:2em;
}




.cardpack{
}



.box
   {
       position: relative;
   }
.box>div{
  border-radius:0em !important;
  outline: 2px white solid;
}
  .box::before
   {
       content: '';
       display: inline-block;
       background: var(--mf-blue2Shadow);
       width: 100%;
       height: 28px;
       transform: skewX(-40deg);
       position: absolute;
       top: -31px;
       left:10px;
       border: 2px solid white;
       border-bottom:none;
   }

  .box::after
   {
       border: 2px solid white;
       content: '';
       display: inline-block;
       background: var(--mf-blue2Shadow);
       width: 22px;
       height: 100%;
       transform: skewY(-50deg);
       position: absolute;
       top: -17px;
       left: 100%;
       border-top-right-radius:.2em;

   }








/*  Shiny    */
:root {
  --color1: rgb(0, 231, 255);
  --color2: rgb(255, 0, 231);
}


.card , .lvl2Card , .lvl3Card{
  touch-action: none;
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;

  box-shadow:
    -2px -2px 2px -2px var(--color1),
    2px 2px 2px -2px var(--color2),
    -3px -3px 4px -2px transparent,
    3px 3px 4px -2px transparent,
    0 0 2px 0px rgba(255,255,255,0),
    0 22px 14px -8px rgba(0, 0, 0, 0.5);

  border-radius:1.5em;
  border:none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
}

.card-inner{
  margin-bottom:-20px;
}

.card:hover , .lvl2Card:hover, .lvl3Card:hover{
  box-shadow:
    -20px -20px 30px -25px var(--color1),
    20px 20px 30px -25px var(--color2),
    -7px -7px 10px -5px var(--color1),
    7px 7px 10px -5px var(--color2),
    0 0 13px 4px rgba(255,255,255,0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);

}


.card:before,
.card:after,
.lvl2Card:before,.lvl2Card:after,
.lvl3Card:before,.lvl3Card:after

{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: .5;
  mix-blend-mode: color-dodge;
  transition: all .33s ease;
  margin-left:10px;
  margin-right:-10px;
  border-radius:1em;
  pointer-events: none;

}

.lvl2Card:before, .lvl3Card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    var(--color1) 30%,
    transparent 47.5%,
    transparent 52.5%,
    var(--color2) 70%,
    transparent 100%
  );
  opacity: .5;
  filter: brightness(.5) contrast(1);
  z-index: 1;
  pointer-events: none;

}

.lvl2Card:after , .lvl3Card:after {
  background-image: linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  transition: all .33s ease;
  mix-blend-mode: color-dodge;
  opacity: .75;
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  pointer-events: none;

}

.lvl3Card:after {
  pointer-events: none;
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"),
    url(https://assets.codepen.io/13471/holo.png),
    linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all .33s ease;
  mix-blend-mode: color-dodge;
  opacity: .75;
}

.card.active:after,
.card:hover:after {
  filter: brightness(1) contrast(1);;
  opacity: 1;
}

.card.active,
.card:hover {
  animation: none;
  transition: box-shadow 0.1s ease-out;
}

.card.active:before,
.card:hover:before {
  animation: none;
  background-image: linear-gradient(
    115deg,
    transparent 25%,
    var(--color1) 48%,
    var(--color2) 52%,
    transparent 75%
  );
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: .88;
  filter: brightness(.66) contrast(1.33);
  transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
  animation: none;
  transition: none;
}

.card.animated {
  transition: none;
  animation: holoCard 12s ease 0s 1;
  &:before {
    transition: none;
    animation: holoGradient 12s ease 0s 1;
  }
  &:after {
    transition: none;
    animation: holoSparkle 12s ease 0s 1;
  }
}




@keyframes holoSparkle {
  0%, 100% {
    opacity: .75; background-position: 50% 50%; filter: brightness(1.2) contrast(1.25);
  }
  5%, 8% {
    opacity: 1; background-position: 40% 40%; filter: brightness(.8) contrast(1.2);
  }
  13%, 16% {
    opacity: .5; background-position: 50% 50%; filter: brightness(1.2) contrast(.8);
  }
  35%, 38% {
    opacity: 1; background-position: 60% 60%; filter: brightness(1) contrast(1);
  }
  55% {
    opacity: .33; background-position: 45% 45%; filter: brightness(1.2) contrast(1.25);
  }
}

@keyframes holoGradient {
  0%, 100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(.5) contrast(1);
  }
  5%, 9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(.75) contrast(1.25);
  }
  13%, 17% {
    background-position: 0% 0%;
    opacity: .88;
  }
  35%, 39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(.75) contrast(1.25);
  }
}

@keyframes holoCard {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%, 8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%, 16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%, 38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}
