
#loadingScreen{
    position:absolute;
    top:0vh;
    height:100vh;
    left:0vw;
    width:100vw;
    z-index:1000;
    background-color:#cccccc

}

#loadingScreen{
  z-index:1000;
}


#user_options_korora, #user_options_piwa, #user_options_new{
  border:2px solid black;
  padding-bottom: 50px;
}
