
      #loadingScreen{
          position:absolute;
          top:0vh;
          height:100vh;
          left:0vw;
          width:100vw;
          background-color:white;
          z-index:1000;

      }
