.menuButton, input, select{
  display:inline-flex;
  width:23%;
  margin-left:0.5%;
  margin-bottom:0.2em;
  border-radius:5px;
  border:white 2px solid;
  min-height:1.5em;
  vertical-align:center;
  align-items:center;
  text-align:left;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  background-color:rgba(0,0,0,0);

}


.menuButton-image{
 height:1.4em;
 padding-left:.2em;
 padding-right:.2em;
}


.selectButton{
  display:inline;
  width:23%;
  margin:0.5%;
  border-radius:10px;
  border:white 2px solid;
  min-height:3em;
  vertical-align:top;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  display: inline-flex;
  align-items:center;
  background-color:rgba(0,0,0,0);

}

.selectButton:hover{
}

.little-button{
  border-radius:10px;
  background-color:rgba(0,0,0,0);

}

.inactive{
  opacity:0;
}

.half-button{
    font-size:1.3em;
    display:inline;
    width:48%;
    margin:0.5%;
    border-radius:10px;
    border:white 2px solid;
    min-height:3em;
    vertical-align:top;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
    display: inline-flex;
    align-items:center;
    background: #bee1f0; /* Old browsers */
    background: -moz-linear-gradient(left,  #bee1f0 0%, #96dcff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #bee1f0 0%,#96dcff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #bee1f0 0%,#96dcff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bee1f0', endColorstr='#96dcff',GradientType=1 ); /* IE6-9 */
    opacity:0.96;

}

.half-button:hover {
    font-size:1.3em;
    display:inline;
    width:48%;
    margin:0.5%;
    border-radius:10px;
    border:#CF0569 2px solid;
    min-height:3em;
    vertical-align:top;
    display: inline-flex;
    align-items:center;
    box-shadow: 2px 2px 8px #CF0569;
    background: #bee1f0; /* Old browsers */
    background: -moz-linear-gradient(left,  #bee1f0 0%, #96dcff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #bee1f0 0%,#96dcff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #bee1f0 0%,#96dcff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bee1f0', endColorstr='#96dcff',GradientType=1 ); /* IE6-9 */
    opacity:0.96;

}

.attributeRow{
  width:45%;
  padding:1%;
  margin-bottom:.3em;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  text-align:left;

}
