
body{
  margin:0px;
  font-family: PT Sans;
  font-style: normal;
  overflow-x:hidden;
  overflow-y:hidden;
  font-size:1em;
}

h1{
  font-size:2em;
}

.topbar{
  display:inline-block;
  align-items:center;
}

.page-section{
  width:100%;
  text-align:left;
  padding:1.5em 5% 1em 5%;
}

.body{
  width:100vw;
  text-align:center;
}

.background{
  object-fit:cover !important;
  height:100vh;
  width:100vw;
  margin:0px;
  position:absolute;
  z-index:-1;
}

.outerScrollDesktop{
  height: 93vh;
  position:relative;
  padding:0px;
  width:100vw;

}
.innerScrollDesktop{
  max-height:100%;
  overflow:auto;
  overflow-x:hidden;

  width:100vw;

}

.rightColumn{

  vertical-align:top;
}

@media only screen and (min-width: 200px){
  .rightColumn{
    max-height:95vh;
    width:100%;
    left:0vw;

    display:inline-block;
    vertical-align:top;
  }
}

@media only screen and (min-width: 1261px){

  .rightColumn{
    position:absolute;
    left:0vw;
    top:3em;
    width:100vw;
    height:90vh;
  }
}


.section{
  width:96%;
  margin-left:2%;
  margin-right:2%;
  display:inline-block;
  text-align:left;
  vertical-align:top;
  margin-top:1em;
  margin-bottom:2em;
  padding-bottom:.5em;
  font-size:2em;
}
@media only screen and (min-width: 1025px){
  .section{
/*    width:47%;*/
    font-size:1em;
  }
}
@media only screen and (min-width: 1281px){
  .section{
  /*  width:31%;*/
    font-size:1em;
  }
}

.viewMenu{
  display:inline-block;
  background:white;
}

@media only screen and (min-width: 1025px){
  .viewMenu{
/*    width:47%;*/
    font-size:1em;
    height:100vh;
    width:50%;
    position:absolute;
    right:0px;
    top:0px;
  }
}
@media only screen and (min-width: 1281px){
  .section{
  /*  viewMenu:31%;*/
    font-size:1em;
  }
}
