
body{
  margin:0px;
  font-family: PT Sans;
  font-style: normal;
}

.body{
  width:100vw;
  text-align:center;
}

.background{
  object-fit:cover !important;
  height:100vh;
  width:100vw;
  margin:0px;
  position:absolute;
  z-index:-1;
}

.outerScrollDesktop{
  height: 89vh;
  position:relative;
  padding:0px;
  width:100%;

}
.innerScrollDesktop{
  max-height:100%;
  overflow:auto;
  width:100%;

}

.rightColumn{
  display:inline-block;
  vertical-align:top;
}

@media only screen and (min-width: 200px){
  .leftColumn{
    max-height:95vh;
    display:none;
    width:98vw;
    vertical-align:top;
  }
  .rightColumn{
    max-height:95vh;
    width:96vw;
    display:inline-block;
    vertical-align:top;
  }
}

@media only screen and (min-width: 1000px){
  .leftColumn{
    position:absolute;
    top:4em;
    max-height:98vh;
    left:1vw;
    width:20em;
    vertical-align:top;
    min-height:100px;
  }

  .rightColumn{
    position:absolute;
    left:2vw;
    top:5em;
    width:96vw;
    height:90vh;
  }
}
