
.menu-top-left{
  height:25vh;
  margin-bottom:1vh;
}



.menu-top-right{
  width:61.5vw !important;
  height:8vh;
  margin-bottom:4vh;
}





.menu-bottom-left>.outerScroll{
  height:60vh;

}

body{
  margin:0px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
}

.body{
  width:100vw;
  text-align:center;
}


.background{
  object-fit:cover !important;
  background-color: #cccccc;
  min-height:100vh;
  max-height:100vh;
  max-width:100vw;
  margin:0px;
  position:absolute;
  z-index:-1;
}



@media only screen and (min-width: 200px){
  .leftColumn{
    max-height:95vh;
    display:inline-block;
    width:90%;
    vertical-align:top;
  }
  .rightColumn{
    width:60%;
    max-height:95vh;
    width:90%;
    display:inline-block;
    vertical-align:top;
  }
  .outerScrollSm{
    height: 90vh;
    position:relative;
    padding:0px;
    width:100%;
  }
  .innerScrollSm{
    min-height:100%;
    overflow:auto;
    width:100%;
  }
}

@media only screen and (min-width: 1000px){
  .leftColumn{
    position:absolute;
    top:1vh;
    max-height:98vh;
    left:1vw;
    width:32vw;
    display:inline-block;
    vertical-align:top;
  }

  .rightColumn{
    position:absolute;
    right:1vw;
    top:1vh;
    width:65vw;
    height:98vh;
    display:inline-block;
    vertical-align:top;
  }

  .outerScrollDesktop{
    height: 86vh;
    position:relative;
    padding:0px;
    width:100%;
  }
  .outerScrollDesktop-left{
    height: 71vh;

  }
  .innerScrollDesktop{
    max-height:100%;
    overflow:auto;
    width:100%;
  }
  .menu-bottom-left{
    height:71vh;

  }

}

.panel{
  opacity:0.97;
  border-radius:10px;
  width:100%;
  border:2px solid white;
  background: rgba(45, 156, 219, 0.96);
}

.menuButton-image{
  width:50%

}
