:root{
  --mf-blue3: #56CCF2;
  --mf-blue2: #2D9CDB;
  --mf-redOpaque: rgba(235,87,87,.9);
  --mf-emerald: #32B7C0;
}

.mf-emerald{background: var(--mf-emerald)}
.mf-red{background:#EB5757}
.mf-orange{
  background: #F2994A; /* Old browsers */
}
.mf-yellow{
  background: #F2C94C; /* Old browsers */
}
.mf-purple1{
  background: #BB6BD9; /* Old browsers */
}
.mf-purple2{
  background:#BB6BD9
}

.mf-blue3{background: #56CCF2;}
.mf-blue2{background:#2D9CDB;}
.mf-blue1{background: #2F80ED;}
.mf-green3{background: #6FCF97;}
.mf-green2{background:#27AE60;}
.mf-green1{background: #219653;}



.notice-row {
  display:inline-block;
  width:100%;
  margin:.2em 1% .2em 1%;
  padding:1%;
  vertical-align:top;
}
.notice-row>div{
  display:inline-block;
  vertical-align:top;
}
