
.topnav-button{
  display:inline-flex;
  vertical-align:center;
  align-items:center;
  margin:.2em 0em .2em .3em;
  padding:.2em 0em .2em 0em;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  width:25%;
  justify-content: center;
}

.nav-right{
  width:100%;
  display:inline-flex;
}

.nav-left{
  width:100%;
  display:inline-flex;
}

.topnav{
  width:100vw;
  max-height:12em;
  background:rgba(0,0,0,0);
}

@media only screen and (min-width: 200px){
  .topnav-button{
    font-size:2em;
    height:2em;
    max-height:15vh;
}

}
@media only screen and (min-width: 1261px){
  .topnav{
    position:absolute;
    top:0vh;
    left:0vw;
    height:3em;
    display:inline-flex;
    align-items:center;
    z-index:100;
    border-left:0px !important;
    border-right:0px !important;
    border-top:0px !important;
    border-top-right-radius:0px !important;
    border-top-left-radius:0px !important;
  }

  .nav-right{
    width:50%;
    position:absolute;
    right:0px;
    justify-content: flex-end;
  }
  .nav-left{
    width:56%;
    max-width:40em;
  }
  .topnav-button{
    font-size:1.5em;
    height:1.6em;
    max-width:5em;
  }
}
