
.topnav-button{
  display:inline-flex;
  vertical-align:center;
  align-items:center;
  margin:.5em 0em .5em .4em;
  padding:.2em 0em .2em 0em;
  height:4em;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  font-size:3em;
  width:25%;
}

.nav-right{
  width:100%;
  display:inline-flex;

}

.nav-left{
  width:100%;
  display:inline-flex;
}

@media only screen and (min-width: 1000px){
  .topnav{
    position:absolute;
    top:0vh;
    left:0vw;
    width:100vw;
    height:3em;
    display:inline-flex;
    align-items:center;
    z-index:100;
    border-left:0px !important;
    border-right:0px !important;
    border-top:0px !important;
    border-top-right-radius:0px !important;
    border-top-left-radius:0px !important;
  }

  .nav-right{
    width:50%;
    position:absolute;
    right:0px;5
  }
  .nav-left{
    width:50%;
    max-width:30em;
  }
  .topnav-button{
    height:1.5em;
}
}
