
.playerWidget{
  width:100%;
  margin-top:.5em;
  margin-bottom:.5em;
  padding-top:.2em;
  padding-bottom:.2em;
  border-radius:10px;
  text-align:left;
  align-items:center;
  display:inline-flex;
  height:3em;
}
.playerWidget-name {
  display:inline-block;
  font-size:1.6em;
  padding-left:2%;
  width:35%;
}

.playerWidget-item {
  display:inline-flex;
  font-size:1.5em;
  font-weight: bold;
  margin-left:.5em;
  margin-right:.5em;
  padding:.2em;
  width:15%;
  align-items:center;
  text-align:center;
  vertical-align:middle;
}


.playerWidget-image{
  object-fit:scale-down;
  max-width:13%;
  padding:.1em;
  padding-right:.31em;
}
