#popups{
  position:absolute;
  top:0px;
  left:0px;
}

.fill{
  background: rgba(0, 0, 0, 0.5);
  position:fixed;
  z-index:9;
  top:0vh;
  left:0vw;
  width:100vw;
  height:100vh;
}
.popup{
    position: fixed;
    z-index:10;
    top:4vh;
    left:4vw;
    width:92vw;
    height:92vh;

}
