#popups{
  position:absolute;
  top:0px;
  left:0px;
}

.fill{
  background: rgba(0, 0, 0, 0.5);
  position:fixed;
  z-index:9;
  top:0vh;
  left:0vw;
  width:100vw;
  height:100vh;
}
.popup{
    position: fixed;
    z-index:10;
    top:4vh;
    left:4vw;
    width:92vw;
    height:92vh;

}


.col3{
  width:31%;
  margin:1%;
  height:31%;
  display:inline-block;
}

.col3>div{
  vertical-align:middle;
  display:inline-flex;
  align-items:center;
  width:100%;
  padding-top:.5em;
}

.col3>div>img{
  height:3em;
  max-width:15%;
  padding-left:3%;
  padding-right:1.5%;
}

.col3>div>div{
  width:75%;
  padding-left:3%;
  padding-right:1.5%;
}
