@media only screen and (min-width: 200px){
  ::-webkit-scrollbar,  ::-webkit-scrollbar-track , ::-webkit-scrollbar-thumb{
  display:none;
}


@media only screen and (min-width: 1000px){


  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 25px;
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 25px;

  }
}
