
.section{
  width:96%;
  margin-left:2%;
  margin-right:2%;
  display:inline-block;
  text-align:left;
  vertical-align:top;
  margin-top:1em;
  margin-bottom:2em;
  padding-bottom:.5em;
  font-size:2em;
}
@media only screen and (min-width: 1025px){
  .section{
/*    width:47%;*/
    font-size:1em;
  }
}
@media only screen and (min-width: 1281px){
  .section{
  /*  width:31%;*/
    font-size:1em;
  }
}
