

.media {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: top;
  img {
      max-width: 100%;
      height: auto;
    }
}

.layer {
  opacity: .8;
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 15%;
  background: #FFF;
  color: #151E3F;
  transition: all 0.9s ease;
  p {
    transition: all 0.9s ease;
    transform: scale(0.1)
  }
}

.bottom-layer {
  opacity: .8;
  position: absolute;
  margin: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 30%;
  bottom:0px;
  background: #FFF;
  color: #151E3F;
  transition: all 0.9s ease;
  p {
    transition: all 0.9s ease;
    transform: scale(0.1)
  }
}


.media:hover .layer {
  opacity: 0.8;
  transition: all 0.5s ease;
  p {
    transform: scale(1);
    transition: all 0.9s ease;
  }
}

@media (max-width: 800px){
  body {
    transform: scale(0.6);
  }
}

@media (max-width: 600px) {
    .wrapper {
    display: block;
    > * {
      margin: 10px;
    }
  }
}

.media>p {
  text-align:left;
}
