@media only screen and (min-width: 200px){
  .topnav{
    position:absolute;
    background-color:white;
    bottom:0px;
    left:0px;
    width:100vw;
    height:10%;
    padding:15px;
    z-index:100;
  }
}

@media only screen and (min-width: 1000px){
  .topnav{
    background-color:white;
    top:0px;
    left:0px;
    width:100vw;
    height:5%;
    padding:15px;
  }

}


.userListing{
  width:100%;
  margin:.5em;
  vertical-align:center;
}
.userListing-item {
  display:inline-block;
  font-size:1.5em;
  padding-left:.5em;
}

.userListing-image{
  object-fit:scale-down;
  max-width:10%;
  padding-left:.5em;
}


.menuButton{
  display:inline;
  width:23%;
  margin:0.5%;
  border-radius:10px;
  border:white 2px solid;
  min-height:3em;
  vertical-align:top;
  background: rgba(45, 156, 219, 1);
}

.panel{
  opacity:0.97;
  border-radius:10px;
  width:100%;
  border:2px solid white;
  margin:1.5em;
  padding:0.5em;
  background: rgba(45, 156, 219, 0.96);
}

.card{
  opacity:0.97;
  border-radius:10px;
  width:43%;
  border:2px solid white;
  display:inline-block;
  margin:1.5em;
  background: rgba(45, 156, 219, 0.96);
  min-height:400px;
}


