@media only screen and (min-width: 200px){
  .topnav{
    position:absolute;
    background-color:white;
    bottom:0px;
    left:0px;
    width:100vw;
    height:10%;
    padding:15px;
    z-index:100;
  }
}

@media only screen and (min-width: 1000px){
  .topnav{
    background-color:white;
    top:0px;
    left:0px;
    width:100vw;
    height:5%;
    padding:15px;
  }

}


.userListing{
  width:100%;
  margin:.5em;
  vertical-align:center;
}
.userListing-item {
  display:inline-block;
  font-size:1.5em;
  padding-left:.5em;
}

.userListing-image{
  object-fit:scale-down;
  max-width:10%;
  padding-left:.5em;
}

.panelTitle{
  position:absolute;
  left:5%;
  width:20%;
}

.panelFilters{
  position:absolute;
  right:5%;
  width:40%;
  top:10px;
  text-align:right;
}
