.table-filter-button{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border:white 2px solid;


  margin-left:0px;
  margin-right:0px;
  padding-left:0px;
  padding-right:0px;
  display:inline;
  
  min-height:3em;
  vertical-align:center;

  background: rgba(45, 156, 219, 1);
  display: inline-flex;
  align-items:center;

}

.table{
  width:100%;
}

.table-body{
  border-top:solid 2px white;
  margin-top:-1px;
}
