
.userListing{
  width:100%;
  margin:.5em;
  vertical-align:center;
}
.userListing-item {
  display:inline-block;
  font-size:1.5em;
  padding-left:.5em;
}

.userListing-image{
  object-fit:scale-down;
  max-width:10%;
  padding-left:.5em;
}
